@charset "UTF-8";

body {
font: normal normal 13px Arial, Tahoma, Helvetica, FreeSans, sans-serif;
color: #444444;
background: #eeeeee url(./pic/graph.jpg) repeat scroll top left;
}
html body .content-outer {
min-width: 0;
max-width: 100%;
width: 100%;
}
a:link {
text-decoration: none;
color: #2d5da1;
}
a:visited {
text-decoration: none;
color: #2d5da1;
}
a:hover {
text-decoration: underline;
color: #2d5da1;
}
.body-fauxcolumn-outer .cap-top {
position: absolute;
z-index: 1;
height: 276px;
width: 100%;
background: transparent none repeat-x scroll top left;
_background-image: none;
}

<!--  -->